# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.make
*.cmake
*.rsp
*.includecache
*.internal
*.a
*.obj
*.rsp
Makefile
*.marks
*.bin
*.cache
*.bak
*.log
*.check_cache
*.cxx
Makefile2

*.vsidx
*.lock
*.tlog
*.ipch
*.db
*.suo
*.ilk
*.recipe
*.iobj
*.ipdb
*.idb
*.pdb
*.lastbuildstate
x64/
*.bak
.vs/
/1/Lab1/Lab1_4_v2/bin/Debug
/1/Lab1/Lab1_4_v2/obj/Debug
/1/Lab1/Lab1_4_v2/obj/Release
/1/Lab1/Lab1_4_v3/obj/Debug
/1/Lab1/Lab1_4_v3/bin/Debug
/Lab2/Lab2/bin/Debug
/Lab2/Lab2/obj/Debug
